.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.button {
  color: brown;
}

.button:hover {
  background-color: darkred;
  color: white;
}

.alignment {
  text-align: left;
}

.icons {
  opacity: 0;
}

tr:hover .icons {
  opacity: 1;
  color: red;
}

.navbar-color {
  color: black !important;
}

.navbar-color:hover {
  color: darkslateblue !important;
}
